@{
    ViewData["Title"] = "Kết Quả";
}

<h2>Kết Quả</h2>
<p>@ViewBag.Result</p>

<a href="@Url.Action("Create")" class="btn btn-secondary">Tạo bài giảng khác</a>
<a href="@Url.Action("Search")" class="btn btn-secondary">Tìm bài giảng khác</a>
