@{
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h4 class="text-primary fw-bold mb-4">Khóa học đã hoàn thành</h4>
        <table class="table table-bordered table-striped">
            <thead class="table-primary">
                <tr>
                    <th>STT</th>
                    <th>Tên khóa học</th>
                    <th>Mô tả</th>
                    <th>Giá</th>
                    <th>Danh mục</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Python cơ bản</td>
                    <td>Ngôn ngữ đơn giản, mạnh mẽ</td>
                    <td>Miễn phí</td>
                    <td>Lập trình</td>
                    <td>Hoàn thành</td>
                    <td><button class="btn btn-sm btn-outline-info">Ôn tập</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

