@{
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

@{
    ViewData["Title"] = "Trang Người dùng";
}

<h2>Đây là trang Người dùng</h2>
<p>Chào mừng bạn đến với trang dành riêng cho người dùng.</p>
