@{
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h4 class="text-warning fw-bold mb-4">Bảng xếp hạng</h4>
        <table class="table table-bordered table-hover">
            <thead class="table-warning">
                <tr>
                    <th>Hạng</th>
                    <th>Học viên</th>
                    <th>Điểm số</th>
                    <th>Thành tích</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nuyễn Đăng Hôi</td>
                    <td>980</td>
                    <td>Top 1 tháng 3</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Trần Thị Tuấn Anh</td>
                    <td>950</td>
                    <td>Top 3 liên tục</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nguyễn Tấn Hải Yến</td>
                    <td>940</td>
                    <td>Mới tham gia</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
